n8n Workflow/My Assigment workflow 2.json
{
  "name": "My Assigment workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        64
      ],
      "id": "3976f5ec-0186-4f6a-b724-352f773b0001",
      "name": "When chat message received",
      "webhookId": "89e176f8-b987-4c73-b25a-69479a0c8191"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an intent + slot-filling agent for a salon booking chat.\nReturn ONLY valid JSON. No prose.\nINTENT: one of [\"book_appointment\",\"change_appointment\",\"cancel_appointment\",\"other\"]\n\nSLOTS (for book_appointment):\n- service (Haircut, Color, Blow-dry)\n- stylist (Aisha, Ben, Cara)\n- date (YYYY-MM-DD)\n- time (HH:mm, 24h)\n- name (string)\n- phone (digits, may include +92)\n\n\nSLOTS (for change_appointment):\n- only other timing, date etc changes except same name and phone\n- service (Haircut, Color, Blow-dry)\n- stylist (Aisha, Ben, Cara)\n- date (YYYY-MM-DD)\n- time (HH:mm, 24h)\n- name (string)\n- phone (digits, may include +92)\n\n\nSLOTS (for cancel_appointment):\n- only other info missing except remain name and phone\n- service (Haircut, Color, Blow-dry)\n- stylist (Aisha, Ben, Cara)\n- date (YYYY-MM-DD)\n- time (HH:mm, 24h)\n- name (string)\n- phone (digits, may include +92)\n\n\nNormalize synonyms (e.g., 'cut' -> 'Haircut'). If information is missing, add it to a 'missing' array.",
              "role": "system"
            },
            {
              "content": "={{ $json.query.message }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        96,
        -112
      ],
      "id": "368a00a4-af4f-4c37-ac47-1fe40833eca3",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "IXUvboO5BXSnwPD7",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a6a9711-a495-4079-88b8-e524374e7271",
              "leftValue": "={{ $json.message.content.intent }}",
              "rightValue": "book_appointment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        -112
      ],
      "id": "6b9a3195-9d71-4558-9db4-56e6372a9aae",
      "name": "If-book_appointment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a6a9711-a495-4079-88b8-e524374e7271",
              "leftValue": "={{ $json.message.content.intent }}",
              "rightValue": "cancel_appointment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        176
      ],
      "id": "4d95a9b9-4f6a-468c-a4ad-a9db8476ccdb",
      "name": "If-cancel_appointment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a6a9711-a495-4079-88b8-e524374e7271",
              "leftValue": "={{ $json.message.content.intent }}",
              "rightValue": "change_appointment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        32
      ],
      "id": "a08393fb-1300-4853-808c-59d3efcf23a2",
      "name": "If-change_appointment"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "I'm sorry, I can only assist with booking appointments.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        416
      ],
      "id": "edcceea1-f620-4c03-bf93-ee67de8ac4f4",
      "name": "Other-Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg",
          "mode": "list",
          "cachedResultName": "salon_ops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "salon_bookings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "={{ $json.message.content.slots.service }}",
            "stylist": "={{ $json.message.content.slots.stylist }}",
            "date": "={{ $json.message.content.slots.date }}",
            "time": "={{ $json.message.content.slots.time }}",
            "phone": "={{ $json.message.content.slots.phone }}",
            "name": "={{ $json.message.content.slots.name }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stylist",
              "displayName": "stylist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration_mins",
              "displayName": "duration_mins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ref",
              "displayName": "ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        -64
      ],
      "id": "18ca875f-5697-47d5-981f-d278508571bf",
      "name": "Update row in salon_bookings",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MtXsQhhhwyznNECk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg",
          "mode": "list",
          "cachedResultName": "salon_ops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "salon_bookings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "={{ $json.message.content.slots.service }}",
            "stylist": "={{ $json.message.content.slots.stylist }}",
            "date": "={{ $json.message.content.slots.date }}",
            "time": "={{ $json.message.content.slots.time }}",
            "phone": "={{ $json.message.content.slots.phone }}",
            "name": "={{ $json.message.content.slots.name }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stylist",
              "displayName": "stylist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration_mins",
              "displayName": "duration_mins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ref",
              "displayName": "ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        176
      ],
      "id": "85e8b901-de48-43f2-a881-47143b19401c",
      "name": "Update row in salon_bookings1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MtXsQhhhwyznNECk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg",
          "mode": "list",
          "cachedResultName": "salon_ops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "salon_bookings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "service": "={{ $json.message.content.slots.service }}",
            "stylist": "={{ $json.message.content.slots.stylist }}",
            "date": "={{ $json.message.content.slots.date }}",
            "time": "={{ $json.message.content.slots.time }}",
            "phone": "={{ $json.message.content.slots.phone }}",
            "name": "={{ $json.message.content.slots.name }}",
            "timestamp": "={{ $now }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service",
              "displayName": "service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stylist",
              "displayName": "stylist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration_mins",
              "displayName": "duration_mins",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ref",
              "displayName": "ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        -256
      ],
      "id": "c66d65a7-aa6d-4781-9f76-c22564258ded",
      "name": "Append or update row in salon_bookings",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MtXsQhhhwyznNECk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Thank you for your confirmation! {{ $json.name }}, We have noted down your information. You will be getting confirmation sms soon. ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        -256
      ],
      "id": "b001857a-b4f1-4d71-bba2-746f93d37bd3",
      "name": "Respond to Webhook - Info noted"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Thank you for your change confirmation! {{ $json.name }}  We have noted down your changed information. ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        -64
      ],
      "id": "19e28504-25b1-41d0-9238-24c7ec1e53b5",
      "name": "Respond to Webhook - booking info changed"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Thank you, {{ $json.name }} We cancelled your booking information.",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1328,
        176
      ],
      "id": "0ec59a57-739e-4ced-981d-4e7733f888d8",
      "name": "Respond to Webhook - booking info canceled"
    },
    {
      "parameters": {
        "content": "## n8n Assignment 1 \n** \n\nthis webhook URL:\nhttps://ban8nauto.app.n8n.cloud/webhook-test/mycall\n\nthe sheet link:\nhttps://docs.google.com/spreadsheets/d/19yHekiCnMWLg6HFv9V3YX3INpAO4dmaZF1uTu4kIfgg/edit?usp=sharing\n\ndescription:\nA simple AI chat agent in n8n that lets customers book salon appointments, demonstrating AI integration for natural language understanding and data validation.\n\n\n\n\n\n\n[Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 352,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        -528
      ],
      "id": "4ee7b4ad-1ad2-47a8-a2e6-493a3c83eaf2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "path": "mycall",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -112
      ],
      "id": "c3a9caf8-e231-4665-84a9-0b1d9924818e",
      "name": "Webhook",
      "webhookId": "7ef256c3-2032-4508-9e5c-4a65485d6000"
    },
    {
      "parameters": {
        "content": "### Get started\n\nthis URL to input the massage:\n1. \"https://ban8nauto.app.n8n.cloud/webhook-test/mycall?message=i am Bisma, wanna book a spa service, next friday Saturday at 11pm, with Raissa, my number is 923003000012\"\n\n2. \"https://ban8nauto.app.n8n.cloud/webhook-test/mycall?message=i like to book a haircut,on saturday morning at 9am, with Ali, my name is Faizan as number 9230030022122\"\n\n",
        "height": 352,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -528
      ],
      "id": "5bc1d83b-0c11-4818-af33-7f394db67443",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If-book_appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-book_appointment": {
      "main": [
        [
          {
            "node": "Append or update row in salon_bookings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If-change_appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-change_appointment": {
      "main": [
        [
          {
            "node": "Update row in salon_bookings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If-cancel_appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-cancel_appointment": {
      "main": [
        [
          {
            "node": "Update row in salon_bookings1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other-Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Other-Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Update row in salon_bookings": {
      "main": [
        [
          {
            "node": "Respond to Webhook - booking info changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in salon_bookings1": {
      "main": [
        [
          {
            "node": "Respond to Webhook - booking info canceled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in salon_bookings": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Info noted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "815585da-d342-42b7-ae6d-04f7dc7c2630",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a89adda3c5e3d792cd88caf7cb96fb738a30d0b5fd9d0ba7a0dc197f7444edbd"
  },
  "id": "OUOdxiBplaIhnBxw",
  "tags": []
}